.tab__container {

    overflow: hidden;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);

    height: 435px;

    cursor: pointer;

    transition: 150ms;

    * {
        transition: 150ms;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .75rem;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
    }

    .tab__title {
        color: var(--text-color);
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        z-index: 1;
        .tab_extra {
            color: var(--text-color);
            font-weight: 500;
            display: none;
        }
    }

    .vignette {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 100px #000000 inset;
        transition: 100ms;
    }
}

.tab__container:hover {
    border-color: var(--border-color);

    filter: grayscale(0);

    box-shadow: 5px 5px 20px #00000040;
    transform: scale(1.02);

    h1 {
        margin-right: 10rem;
        background-color: #00000090;
        backdrop-filter: blur(8px);

        span {
            font-size: 3rem;
        }
    }

    .tab__title {
        background-color: #00000090;
        backdrop-filter: blur(8px);
        .tab_extra {
            display: inline;
        }
    }

    .vignette {
        box-shadow: 0 0 0px #000000 inset;
    }
}

.tab__container:active {
    transform: scale(.95);
}