.box-it {
    border: solid 5px var(--border-not-color);
    border-radius: 1rem;
}

.shadow-it {
    box-shadow: 4px 4px 12px rgb(0 0 0 / .25);
}

.tab__container {

    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);

    height: 435px;

    cursor: pointer;

    transition: 150ms;

    * {
        transition: 150ms;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .75rem;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
    }

    .tab__title {
        color: var(--text-color);
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        z-index: 1;
        .tab_extra {
            color: var(--text-color);
            font-weight: 500;
            display: none;
        }
    }

    .vignette {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 100px #000000 inset;
        transition: 100ms;
    }
}

.tab__container:hover {
    border-color: var(--border-color);

    filter: grayscale(0);

    @extend .shadow-it;
    transform: scale(1.02);

    h1 {
        margin-right: 10rem;
        background-color: #00000090;
        backdrop-filter: blur(8px);

        span {
            font-size: 3rem;
        }
    }

    .tab__title {
        background-color: #00000090;
        backdrop-filter: blur(8px);
        .tab_extra {
            display: inline;
        }
    }

    .vignette {
        box-shadow: 0 0 0px #000000 inset;
    }
}

.tab__container:active {
    transform: scale(.95);
}

.boxed__container {
    filter: grayscale(.75);
    transition: 150ms;
    @extend .box-it;
}
.boxed__container:hover {
    z-index: 10;
    filter: grayscale(0);
    transform: scale(1.02);
    @extend .shadow-it;
}

.article__section {
    background: #160091 ;
    *{
        display: none;
    }
    transition: 1000ms;
}
.article__section:hover {
    background: none !important;
    *{
        display: flex;
        padding: 0rem 0.25rem;
        border-radius: .25rem;
    }
}